{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "mocha": true
  },
  "rules": {
    "quotes": 0,
    "comma-dangle": ["error", "only-multiline"]
  },
  "globals": {
    "fetch": false
  }
}
